body{
    /* background-image: url('./../images/bgImage.jpg'); */
    background-color: rgb(55, 70, 82);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.alert{
    display: none;
}

.form-cont{
    height: fit-content;
    min-width: 90vw;
    max-width: 600px;
    background-color: rgba(245, 246, 246, 0.3);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
}

a{
    color: black;
}

@media (min-width: 425px) {
    .form-cont{
        min-width: 400px;
    }
}